<!-- app/views/genres/index.html.erb -->
<h1>Genres</h1>
<ul>
  <% if @genres.any? %>
    <% @genres.each do |genre| %>
      <li>
        <h2><%= link_to "#{genre.name} (ID: #{genre.id})", genre_path(genre) %></h2>
        
      </li>
    <% end %>
  <% else %>
    <li>No genres found.</li>
  <% end %>
</ul>
